body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/* Custom Flatpickr Theme */
.flatpickr-calendar {
  background-color: #1e293b !important; /* dark:bg-slate-800 equivalent */
  border-radius: 1rem !important;
  box-shadow:
    0 10px 25px -5px rgba(0, 0, 0, 0.5),
    0 8px 10px -6px rgba(0, 0, 0, 0.5) !important;
  border: 1px solid #334155 !important; /* dark:border-slate-700 */
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.flatpickr-day {
  color: #f8fafc !important; /* text-slate-50 */
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.focus,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  background: #13a4ec !important;
  border-color: #13a4ec !important;
  color: white !important;
}
.flatpickr-day.inRange {
  box-shadow:
    -5px 0 0 #0c4a6e,
    5px 0 0 #0c4a6e !important;
  background: #0c4a6e !important;
  border-color: #0c4a6e !important;
  color: #e0f2fe !important;
}
.flatpickr-months .flatpickr-month {
  background: transparent !important;
  color: #f8fafc !important;
  fill: #f8fafc !important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-weight: 700 !important;
  color: #f8fafc !important;
}
.flatpickr-current-month input.cur-year {
  color: #f8fafc !important;
}
.flatpickr-weekday {
  font-weight: 600 !important;
  color: #94a3b8 !important; /* text-slate-400 */
}
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #1e293b !important;
}
/* --- LOGO 150PX Y TEXTO PEGADO --- */
.logo-container img {
  height: 120px;
  width: auto;
  object-fit: contain;
  transform: translateY(20px);
}

.brand-text {
  margin-left: -20px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .logo-container img {
    width: 80px;
    padding-bottom: 30px;

  }
}

/* ---------------------------------- */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #13a4ec; /* Blue primary color */
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f8bc7;
}

/* Animación de sacudida */
.shake-horizontal {
  animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/* Animación de menu */
.lang-dropdown:hover .lang-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.lang-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.2s ease;
}

/* mapa de guia */

/* Suavizar los bordes de Leaflet */
.leaflet-container {
  font-family: inherit;
  background: #f8fafc;
  /* Color de carga antes del mapa */
}

/* Pequeño ajuste para que el popup se vea más moderno */
.leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* Opcional: Si quieres que el mapa sea grisáceo en modo oscuro */
.dark .leaflet-tile-container {
  filter: grayscale(0.5) brightness(0.8);
}
